.App {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.header-add-user {
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal-new-user-footer {
  text-align: right;
  margin-top: 20px;
}

.field-input-group {
  margin-bottom: 20px;
}
.container{
  display:block;
  width: 60px;
  height: 600px;
  background-color: aqua;
  margin-top: 30px;
}
.content{
  background-color: aqua;
}